{% extends "cartera/menuCarteraF.html" %}
{% load static %}

{% block head %}


<link rel="stylesheet" type="text/css" href={% static 'css/panelCartera.css' %}>
<link rel="stylesheet" type="text/css" href={% static 'css/fontawesome.css' %}>
<link rel="stylesheet" type="text/css"  href = {% static 'css/litle.css' %} >
<script src={% static 'js/panelTabsCartera.js' %} defer >         </script>

<!-- Datatable extension SELECT 
<link href="https://cdn.datatables.net/v/dt/dt-2.2.2/datatables.min.css" rel="stylesheet" integrity="sha384-2vMryTPZxTZDZ3GnMBDVQV8OtmoutdrfJxnDTg0bVam9mZhi7Zr3J1+lkVFRr71f" crossorigin="anonymous">
<script src="https://cdn.datatables.net/v/dt/dt-2.2.2/datatables.min.js" integrity="sha384-2Ul6oqy3mEjM7dBJzKOck1Qb/mzlO+k/0BQv3D3C7u+Ri9+7OBINGa24AeOv5rgu" crossorigin="anonymous"></script>
-->


<div class="marco">
    <ul class="tabs">
   <li><a href="#Caja"><span class="fa-solid fa-user-doctor-message"></span> <span   class="tab-text"> </span> Caja</a></li>
        <li><a href="#Cartera Vencida"><span class="fa-solid fa-user-doctor-message"></span> <span class="tab-text"> </span>Cartera Vencida</a></li>
     

    </ul>
</div>

<style>

div.dataTables_filter input {
    width: 50px;
  }
#tablaCartera {
     /*    font-family: 'Verdana', sans-serif;  */  /* Times*/
 font-family: 'Times', 'Times New Roman',Verdana,  sans-serif;
        font-size: 50px;
	 padding: 1px;
	 /* Alto de las celdas */
	  height: 1px;
    }

table.dataTable tbody tr {
  min-height: 60px;
}


.my-row-class {
    height: 30px;
}

</style>
<script>

function RefrescarPantalla() {
 	 location.reload();
}
</script>


{% endblock %}

{% block encabezado %}



{% endblock %}


{% block content %}

<div class="marco">
    <div class="secciones">

        <article id="Cartera">
      
	
            <form action="/carteraVencida/" method="get" id="FormCarteraVencida">

                <input type="hidden" id="username" name="username" value="{{Username}}">
                <input type="hidden" id="sedeSeleccionada" name="sedeSeleccionada" value="{{SedeSeleccionada}}">
                <input type="hidden" id="numreporte" name="numreporte" value="{{numreporte}}">
                <input type="hidden" id="grupo" name="grupo" value="{{Grupo}}">
                <input type="hidden" id="subGrupo" name="subGrupo" value="{{SubGrupo}}">
                <!--  Estos si de la Aplixcacion base -->
                <input type="hidden" id="sede" name="sede" value="{{Sede}}">
                <input type="hidden" id="documento" name="documento" value="{{Documento}}">
                <input type="hidden" id="nombreSede" name="nombreSede" value="{{NombreSede}}">
                <input type="hidden" id="profesional" name="profesional" value="{{Profesional}}">
                <input type="hidden" id="permisosGrales" name="permisosGrales" value="{{PermisosGrales}}">
                <input type="hidden" id="permisosDetalle" name="permisosDetalle" value="{{PermisosDetalle}}">
                <input type="hidden" id="escogeModulo" name="escogeModulo" value="{{EscogeModulo}}">
                <input type="hidden" id="username_id" name="username_id" value="{{Username_id}}">

                <input type="hidden" id="tipoDocId" name="tipoDocId" value="">
                <input type="hidden" id="nombreTipoDoc" name="nombreTipoDoc" value="">
                <input type="hidden" id="documentoId" name="documentoId" value="">
                <input type="hidden" id="documento2" name="documento2" value="">
                <input type="hidden" id="consec" name="consec" value="">
                <input type="hidden" id="tipoIng" name="tipoIng" value="{{tipoIng}}">
		<input type="hidden" id="convenioId" name="convenioId" value="{{convenioId}}">
	
            </form>
			EN BLANCO
        </article>

<article id="Caja">
            <!-- INICIO TABLE DE  EL DATATABLE  -->
 	<div class="container my-2">          
   			   <div class="row">
                                        <table  id= "tablaCaja" class=" display table table-striped table-sm fs-6 nowrap" style="width: 100%";>
                                           <thead>
                                            <tr>    
						<bold>                                  
						<th>Accion </th>
                                                <th>id</th>
                                                <th>Fecha</th>
                                                <th>Entrega</th>
                                                <th>Efec</th>
                                                <th>TDeb</th>
                                                <th>TCred</th>
                                                <th>Cheq</th>
                                                <th>Total</th>
                                                <th>Recibe</th>
                                                <th>Superviza</th>
                                                <th>Estado</th>
                                                <th>EfecEspera</th>
                                                <th>TDebEspera</th>
                                                <th>TCredEspera</th>
                                                <th>CheqEspera</th>
                                                <th>TotalEspera</th>
						<th>Servicio</th>

						</bold>                                  

                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
 					
                                        </table>
                                    </div>
                                </div>


	            <!-- Espacio Modales  Glosas-->

            <div class="modal fade" id="crearModelCaja" tabindex="-1" role="dialog"  style="overflow-y:scroll;" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog modal-lg modal-dialog-scrollable  modal-dialog-center" role="document" >
                    <div class="modal-content">
                        <div class="modal-header">
	     <div  class="modal-title" id="exampleModalLabel" style="text-align:center;"><font gont-family="Times New roman" size=5">Caja</font> </div>
                                        <button type="button" class="close" data-bs-dismiss="modal"  aria-label="Close"> <span aria-hidden="true">&times;</span>  </button>
			<button type="button" class="btn btn-primary" id="saveBtnCaja" onclick="GuardarCaja()">Grabar!</button> 
                        </div>
		
                        <div class="modal-body">
			
  			  <form id="postFormCaja" name="postFormCaja">

                                <input type="hidden" name="post_id" id="post_id">
                                <input type="hidden" name="cajaId" id="cajaId">

             			  <input type="hidden" id="username_id" name="username_idC" value="{{Username_id}}">
               			<input type="hidden" id="sedeC" name="sedeC" value="{{Sede}}">

                      <div class="row row-cols-lg-auto g-3 align-items-center mb-3">


				  <div class="col-4">
					                                   
                                    <input type="hidden" class="form-control" id="sedesClinica_id" name="sedesClinica_id"  value="{{Sede}}" readonly></input>
                                </div>

				  <div class="col-8">
                                        <label for="serviciosAdministrativos_id" class="col-sm-1 control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SeviciosAdmon:</label>
                                        <div class="col-sm-8">
                                            <select class="select-css h-40 w-20" id="serviciosAdministrativos_id"  tabindex= "0"
                                                    name="serviciosAdministrativos_id"
                                                    required>
                                                {% for serviciosAdministrativos in ServiciosAdministrativos %}
                                                <option value="{{serviciosAdministrativos.id}}"> {{serviciosAdministrativos.nombre}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                    </div>

					  
				<div class="col-12">
					fecha:
                                                
					 <input type="date"  class="form-control" id="fecha" name="fecha" placeholder="fecha"  readonly>
                                </div>

				<div class="col-12">
                               		  Entrega:
                                        <label for="usuarioEntrega_id" class="col-sm-1 control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SeviciosAdmon:</label>
                                        <div class="col-sm-8">
                                            <select class="select-css h-40 w-20" id="usuarioEntrega_id"  tabindex= "0"
                                                    name="usuarioEntrega_id"
                                                    required>
                                                {% for usuarioEngrega in UsuarioEntrega  %}
                                                <option value="{{usuarioEngrega.id}}"> {{usuarioEngrega.nombre}}</option>
                                                {% endfor %}
                                           </select>
	                                </div>
                                 </div>



				<div class="col-12">
                               		  Recibe:
                                        <label for="usuarioRecibe_id" class="col-sm-1 control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SeviciosAdmon:</label>
                                        <div class="col-sm-8">
                                            <select class="select-css h-40 w-20" id="usuarioRecibe_id"  tabindex= "0"
                                                    name="usuarioRecibe_id"
                                                    required>
                                                {% for usuarioRecibe in UsuarioRecibe   %}
                                                <option value="{{usuarioRecibe.id}}"> {{usuarioRecibe.nombre}}</option>
                                                {% endfor %}
                                           </select>
	                                </div>
                                 </div>



				<div class="col-12">
                               		  Recibe:
                                        <label for="usuarioSuperviza_id" class="col-sm-1 control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SeviciosAdmon:</label>
                                        <div class="col-sm-8">
                                            <select class="select-css h-40 w-20" id="usuarioSuperviza_id"  tabindex= "0"
                                                    name="usuarioSuperviza_id"
                                                    required>
                                                {% for usuarioSuperviza in UsuarioSuperviza   %}
                                                <option value="{{usuarioSuperviza.id}}"> {{usuarioSuperviza.nombre}}</option>
                                                {% endfor %}
                                           </select>
	                                </div>
                                 </div>


				<div class="col-12">
					Total Efectivo:                               
					 <input type="text"  class="form-control" id="totalEfectivo" name="totalEfectivo" placeholder="totalEfectivo">
                                </div>

				<div class="col-12">
					Total EsperadoEfectivo:                               
					 <input type="text"  class="form-control" id="totalEfectivoEsperado" name="totalEfectivoEsperado" placeholder="totalEfectivoEsperado" readonly>
                                </div>


				<div class="col-12">
					Total Tarjetas Debito:                               
					 <input type="text"  class="form-control" id="totalTarjetasDebito" name="totalTarjetasDebito" placeholder="totalTarjetasDebito">
                                </div>
				<div class="col-12">
					Total Tarjetas Debito Esperado:                               
					 <input type="text"  class="form-control" id="totalTarjetasDebitoEsperado" name="totalTarjetasDebitoEsperado" placeholder="totalTarjetasDebitoEsperado" readonly>
                                </div>



				<div class="col-12">
					Total Tarjetas Credito:                               
					 <input type="text"  class="form-control" id="totalTarjetasCredito" name="totalTarjetasCredito" placeholder="totalTarjetasCredito">
                                </div>

				<div class="col-12">
					Total Tarjetas Credito Esperado:                               
					 <input type="text"  class="form-control" id="totalTarjetasCreditoEsperado" name="totalTarjetasCreditoEsperado" placeholder="totalTarjetasCreditoEsperado" readonly>
                                </div>


				<div class="col-12">
					Total Cheques:                               
					 <input type="text"  class="form-control" id="totalCheques" name="totalCheques" placeholder="totalCheques">
                                </div>

				<div class="col-12">
					Total Cheques Esperado:                               
					 <input type="text"  class="form-control" id="totalChequesEsperado" name="totalChequesEsperado" placeholder="totalChequesEsperado" readonly>
                                </div>


				<div class="col-12">
					Total :                               
					 <input type="text"  class="form-control" id="total" name="total" placeholder="total" >
                                </div>

				<div class="col-12">
					Total Esperado:                               
					 <input type="text"  class="form-control" id="totalEsperado" name="totalEsperado" placeholder="totalEsperado" readonly>
                                </div>



				<div class="col-12">
					Estado Caja:                               
					 <input type="text"  class="form-control" id="estadoCaja" name="estadoCaja" placeholder="estadoCaja">
                                </div>

                                </div> <!-- CIERRA ROW 8 COLUMNAS  -->

                            </form>

                        </div> <!-- CIERRA BODY -->
			<div class="modal-footer">

		<textarea id="mensajesErrorModalCaja" name="mensajesErrorModalCaja" style="background-color: lightred; color: navy;"  rows="1" cols="60" placeholder="Mensajes..."  wrap="hard"></textarea>			
	  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar   </button>
				<button type="button" class="btn btn-primary" id="saveBtnGuardarCaja" onclick="GuardarCaja()">Grabar!</button> 
                        
			    </div> <!-- CIERRA FOOTER -->			
                        </div> <!-- CIERRA MODAL CONTENTE -->
                    </div> <!-- CIERRA MODAL DIALOG -->
                </div>  <!-- CIERRA MODAL FADE -->

     <!-- FIN Espacio Modales  -->

</article>
    
    </div>
</div>

{% endblock %}

{% block mensajeria %}
<div class="marco">
<span> ... </span>
 	<textarea id="mensajes" name="mensajes" style="background-color: lightblue; color: navy;"  rows="1" cols="180" placeholder="Mensajes..."  wrap="hard"></textarea>
	<textarea id="mensajesError" name="mensajesError" style="background-color: lightred; color: navy;"  rows="1" cols="180" placeholder="Mensajes..."  wrap="hard"></textarea>


</div>
{% endblock %}


{% block footer %}

<div class="marco">
    <ul class="tabs">

    </ul>
</div>

{% endblock %}




