{% extends "contratacion/menuConveniosF.html" %}
{% load static %}

{% block head %}


<link rel="stylesheet" type="text/css" href={% static 'css/panelConvenios.css' %}>
<link rel="stylesheet" type="text/css" href={% static 'css/fontawesome.css' %}>
<link rel="stylesheet" type="text/css"  href = {% static 'css/litle.css' %} >
<script src={% static 'js/panelTabsConvenios.js' %} defer >         </script>
<script src="https://kit.fontawesome.com/5d0337a043.js" crossorigin="anonymous"></script>


<div class="marco">
    <ul class="tabs">
        <li><a href="#Convenios"><span class="fa-solid fa-user-doctor-message"></span> <span class="tab-text"> </span>
        <li><a href="#TarifariosDescripcionProcedimientos"><span class="fa-solid fa-user-doctor-message"></span> <span class="tab-text"> </span> TarifariosProcedimientos </a></li>
        <li><a href="#TarifariosDescripcionSum"><span class="fa-solid fa-user-doctor-message"></span> <span   class="tab-text"> </span> TarifariosSuministros</a></li>

            Convenios </a></li>
    </ul>
</div>

<style>
div.dataTables_wrapper  div.dataTables_filter input {
   height: 5px;
   padding:10px;
   border-radius:8px;
}
#tablaConvenios {
     /*    font-family: 'Verdana', sans-serif;  */  /* Times*/
 font-family: 'Times', 'Times New Roman',Verdana,  sans-serif;
        font-size: 50px;
	 padding: 1px;
	 /* Alto de las celdas */
	  height: 1px;
    }

table.dataTable tbody tr {
  min-height: 60px;
}


.my-row-class {
    height: 30px;
}
</style>
<script>

function RefrescarPantalla() {
 	  	var sedeSeleccionada = document.getElementById("sedeSeleccionada").value;
        var username = document.getElementById("username").value;
        var nombreSede = document.getElementById("nombreSede").value;
    	var sede = document.getElementById("sede").value;
        var username_id = document.getElementById("username_id").value;
         var data =  {}   ;
        data['username'] = username;
        data['sedeSeleccionada'] = sedeSeleccionada;
        data['nombreSede'] = nombreSede;
        data['sede'] = sede;
        data['username_id'] = username_id;
 	    data = JSON.stringify(data);


        arrancaConvenios(1,data);

	    dataTableConveniosInitialized = true;
}
</script>


{% endblock %}

{% block tarifas %}



{% endblock %}


{% block content %}

<div class="marco">
    <div class="secciones">
        <article id="Convenios">
       
	
            <form action="/Conven" method="get" id="FormConvenios">

                <input type="hidden" id="username" name="username" value="{{Username}}">
                <input type="hidden" id="sedeSeleccionada" name="sedeSeleccionada" value="{{SedeSeleccionada}}">
                <input type="hidden" id="numreporte" name="numreporte" value="{{numreporte}}">
                <input type="hidden" id="grupo" name="grupo" value="{{Grupo}}">
                <input type="hidden" id="subGrupo" name="subGrupo" value="{{SubGrupo}}">
                <!--  Estos si de la Aplixcacion base -->
                <input type="hidden" id="sede" name="sede" value="{{Sede}}">
                <input type="hidden" id="documento" name="documento" value="{{Documento}}">
                <input type="hidden" id="nombreSede" name="nombreSede" value="{{NombreSede}}">
                <input type="hidden" id="profesional" name="profesional" value="{{Profesional}}">
                <input type="hidden" id="permisosGrales" name="permisosGrales" value="{{PermisosGrales}}">
                <input type="hidden" id="permisosDetalle" name="permisosDetalle" value="{{PermisosDetalle}}">
                <input type="hidden" id="escogeModulo" name="escogeModulo" value="{{EscogeModulo}}">
                <input type="hidden" id="username_id" name="username_id" value="{{Username_id}}">


            </form>

            <!-- INICIO TABLE DE  EL DATATABLE  -->
		<div class="container my-2">
             
		<div align="right" height="15px" width="50px">
               <input type="button" style="height:25px;margin-left: 0 ; margin-bottom: 0;border-top-right-radius: 0;"  size="30px" id="BtnAdicionarConvenio"  name="BtnAdicionarConvenio" value="Adicionar" onclick= "AdicionarConvenio()" >
		<input type="button" id="btnRefrescar" name="btnRefrescar" value="Refrescar" onclick="RefrescarPantalla()">
		</div>

   			   <div class="row">


                                        <table  id= "tablaConvenios" class=" display table table-striped  table-sm fs-6 nowrap" style="width: 100%";>
                                           <thead>
                                            <tr>    
						<bold>   
					      <th>Seleccionar</th>                                
					      <th>Seleccionar</th>                                
                                                <th>id</th>
                                                <th>Empresa</th>                                       
                                                <th>EmpresaId</th>                                       
                                                <th>Nombre</th>                                       
                                                <th>Descripcion</th>                                       
                                                 <th>Vig.Desde</th> 
                                                <th>Vig.Hasta</th>                
                                                <th>Id1</th>                    
                                                <th>tarifariosDescripcionProc</th>
                                                <th>Id2</th>                    
                                                <th>tarifariosDescripcionSum</th>
                                                <th>Id3</th>                    
                                                <th>tarifariosDescripcionHon</th>
                                          
						</bold>                                  

                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                         

                                        </table>
                                    </div>
                                </div>

	<!-- Espacio para Modales  -->


		<!-- Modal Editar Convenio -->

         <div class="modal fade" id="editarModelConvenios" tabindex="-1" role="dialog"  style="overflow-y:scroll;" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog modal-lg modal-dialog-scrollable  "  modal-dialog-center role="document" >
                    <div class="modal-content">
                        <div class="modal-header">
	     <div  class="modal-title" id="exampleModalLabel" style="text-align:center;"><font gont-family="Times New roman" size=5">Editar Convenios</font> </div>
                                        <button type="button" class="close" data-bs-dismiss="modal"  aria-label="Close"> <span aria-hidden="true">&times;</span>  </button>
			<button type="button" class="btn btn-primary" id="saveBtnEditarConvenios1" onclick="EditarGuardarConvenios()">Grabar!</button> 
                        </div>

                        <div class="modal-body">
                            <div class="alert alert-danger error-msg" style="display:none">
                                <ul class="mb-0"></ul>
                            </div>
			
  			  <form id="postFormEditarConvenios" name="postFormEditarConvenios">

                                <input type="text" name="postConvenio_id" id="postConvenio_id">

                      <div class="row row-cols-lg-auto g-3 align-items-center mb-3">

				<div class="col-12">

 				 <div class="col-12">
                                        <label for="serviciosAdministrativos_id" class="col-sm-1 control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SeviciosAdmon:</label>
                                        <div class="col-sm-8">
                                            <select class="select-css h-40 w-20" id="serviciosAdministrativos_id"  tabindex= "0"
                                                    name="serviciosAdministrativos_id"
                                                    required>
                                                {% for serviciosAdministrativos in ServiciosAdministrativos %}
                                                <option value="{{serviciosAdministrativos.id}}"> {{serviciosAdministrativos.nombre}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                    </div>
                                    		


				 <label  for="nombreConvenio">Convenio:</label>
                                    <input type="text" class="form-control form-control-sm" id="nombreConvenio" name="nombreConvenio" value="0" placeholder="nombreConvenio:" readonly></input>
                                </div>

				<div class="col-12">
				
 				<label  for="vigenciaDesde">VigenciaDesde:</label>
                               
					 <input type="date"  class="form-control form-control-sm" id="vigenciaDesde" name="vigenciaDesde" placeholder="vigenciaDesde"  >
                                </div>
				<div class="col-12">

 				<label  for="vigenciaHasta">VigenciaHasta:</label>
                               
					 <input type="date"  class="form-control form-control-sm" id="vigenciaHasta" name="vigenciaHasta" placeholder="vigenciaHasta"  >
                                </div>

				<div class="col-12">
                                    Tarifario Procedimientos:
				<select class="select-css"  id="tarifariosDescripcionProc_id"
                                                                name="tarifariosDescripcionProc_id">
                                                            {% for tarifariosDescripcionProc in TarifariosDescripcionProc%}
                                                            <option value="{{tarifariosDescripcionProc.id}}">
                                                                {{tarifariosDescripcionProc.nombre}}
                                                            </option>
                                                            {% endfor %}
                                                        </select>
                                </div>

				<div class="col-12">
                                    Tarifario Suministros:
				<select class="select-css"  id="tarifariosDescripcionSum_id"
                                                                name="tarifariosDescripcionSum_id">
                                                            {% for tarifariosDescripcionSum in TarifariosDescripcionSum %}
                                                            <option value="{{tarifariosDescripcionSum.id}}">
                                                                {{tarifariosDescripcionSum.nombre}}
                                                            </option>
                                                            {% endfor %}
                                                        </select>
                                </div>

				<div class="col-12">
					    Tarifario Honorarios:
                	           	<select class="select-css"  id="tarifariosDescripcionHono_id"
                                                                name="tarifariosDescripcionHono_id">
                                                            {% for tarifariosDescripcionHonorarios in TarifariosDescripcionHonorarios %}
                                                            <option value="{{tarifariosDescripcionHonorarios.id}}">
                                                                {{tarifariosDescripcionHonorarios.nombre}}
                                                            </option>
                                                            {% endfor %}
                                                        </select>
                                </div>





               			<div class="col-12">
				 <label  for="porcTarifario">porcTarifario:</label>
                                    <input type="text" class="form-control form-control-sm" id="porcTarifario" name="porcTarifario" placeholder="porcTarifario:"></input>
                                </div>
				<div class="col-12">               
				 <label  for="porcSuministros">porcSuministros:</label>
                                    <input type="text" class="form-control form-control-sm" id="porcSuministros" name="porcSuministros" placeholder="porcSuministros:"></input>
                                </div>
				<div class="col-12">
				 <label  for="valorOxigeno">valorOxigeno:</label>
                                    <input type="text" class="form-control form-control-sm" id="valorOxigeno" name="valorOxigeno" placeholder="valorOxigeno:"></input>
                                </div>
				<div class="col-12">
				 <label  for="porcEsterilizacion">porcEsterilizacion:</label>
                                    <input type="text" class="form-control form-control-sm" id="porcEsterilizacion" name="porcEsterilizacion" placeholder="porcEsterilizacion:"></input>
                                </div>
				<div class="col-12">
				 <label  for="porcMaterial">porcMaterial:</label>
                                    <input type="text" class="form-control form-control-sm" id="porcMaterial" name="porcMaterial" placeholder="porcMaterial:"></input>
                                </div>
				<div class="col-12">
				 <label  for="hospitalario">hospitalario:</label>
                                    <input type="text" class="form-control form-control-sm" id="hospitalario" name="hospitalario" placeholder="hospitalario:"></input>
                                </div>
				<div class="col-12">
				 <label  for="urgencias">urgencias:</label>
                                    <input type="text" class="form-control form-control-sm" id="urgencias" name="urgencias" placeholder="urgencias:"></input>
                                </div>
				<div class="col-12">
				 <label  for="ambulatorio">ambulatorio:</label>
                                    <input type="text" class="form-control form-control-sm" id="ambulatorio" name="ambulatorio" placeholder="ambulatorio:"></input>
                                </div>

				<div class="col-12">
				 <label  for="consultaExterna">consultaExterna:</label>
                                    <input type="text" class="form-control form-control-sm" id="consultaExterna" name="consultaExterna" placeholder="consultaExterna:"></input>
                                </div>

				<div class="col-12">
				 <label  for="copago">copago:</label>
                                    <input type="text" class="form-control form-control-sm" id="copago" name="copago" placeholder="copago:"></input>
                                </div>

				<div class="col-12">
				 <label  for="moderadora">moderadora:</label>
                                    <input type="text" class="form-control form-control-sm" id="moderadora" name="moderadora" placeholder="moderadora:"></input>
                                </div>

				<div class="col-12">
				 <label  for="tipofactura">tipofactura:</label>
                                    <input type="text" class="form-control form-control-sm" id="tipofactura" name="tipofactura" placeholder="tipofactura:"></input>
                                </div>

				<div class="col-12">
				 <label  for="facturacionSuministros">facturacionSuministros:</label>
                                    <input type="text" class="form-control form-control-sm" id="facturacionSuministros" name="facturacionSuministros" placeholder="facturacionSuministros:"></input>
                                </div>

				<div class="col-12">
				 <label  for="facturacionCups">facturacionCups:</label>
                                    <input type="text" class="form-control form-control-sm" id="facturacionCups" name="facturacionCups" placeholder="facturacionCups:"></input>
                                </div>

				<div class="col-12">
				 <label  for="cuentaContable">cuentaContable:</label>
                                    <input type="text" class="form-control form-control-sm" id="cuentaContable" name="cuentaContable" placeholder="cuentaContable:"></input>
                                </div>


				<div class="col-12">
				 <label  for="requisitos">requisitos:</label>
                                    <input type="text" class="form-control form-control-sm" id="requisitos" name="requisitos" placeholder="requisitos:"></input>
                                </div>


				<div class="col-12">
				 <label  for="fechaRegistro">fechaRegistro:</label>
                                    <input type="text" class="form-control form-control-sm" id="fechaRegistro" name="fechaRegistro" placeholder="fechaRegistro:"></input>
                                </div>


				<div class="col-12">
				 <label  for="estadoReg">estadoReg:</label>
                                    <input type="text" class="form-control form-control-sm" id="estadoReg" name="estadoReg" placeholder="estadoReg:"></input>
                                </div>

				<div class="col-12">
				 <label  for="empresa_id">empresa_id:</label>
                                    <input type="text" class="form-control form-control-sm" id="empresa_id" name="empresa_id" placeholder="empresa_id:"></input>
                                </div>

				<div class="col-12">
				 <label  for="usuarioRegistro_id">usuarioRegistro_id:</label>
                                    <input type="text" class="form-control form-control-sm" id="usuarioRegistro_id" name="usuarioRegistro_id" placeholder="usuarioRegistro_id:"></input>
                                </div>


				<div class="col-12">
				 <label  for="descripcion">descripcion:</label>
                                    <input type="text" class="form-control form-control-sm" id="descripcion" name="descripcion" placeholder="descripcion:" readonly></input>
                                </div>


                                </div> <!-- CIERRA ROW 8 COLUMNAS  -->

                            </form>

                        </div> <!-- CIERRA BODY -->

        
                                <div class="modal-footer">

	<textarea id="mensajesErrorModalConvenios" name="mensajesErrorModalConvenios" style="background-color: lightred; color: navy;"  rows="1" cols="60" placeholder="Mensajes..."  wrap="hard"></textarea>																						
			  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar   </button>
					<button type="button" class="btn btn-primary" id="saveBtnEditarConvenios"   value="create" onclick="EditarGuardarConvenios()">Guardar </button> 


                               </div> <!-- CIERRA EL FOOTER-->

                        </div> <!-- CIERRA MODAL CONTENTE -->
                    </div> <!-- CIERRA MODAL DIALOG -->
                </div>  <!-- CIERRA MODAL FADE -->



		<!-- Fin Modal Editar Convenio -->



		<!-- Modal Crear Convenio -->


       <div class="modal fade" id="crearModelConvenios" tabindex="-1" role="dialog"  aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
                <div class="modal-dialog modal-lg modal-dialog-scrollable  modal-dialog-center" role="document" >
                    <div class="modal-content">
                        <div class="modal-header">
		     <div  class="modal-title" id="exampleModalLabel" style="text-align:center;"><font gont-family="Times New roman" size=5">Creacion Convenios</font> </div>
                                        <button type="button" class="close" data-bs-dismiss="modal"  aria-label="Close"> <span aria-hidden="true">&times;</span>  </button>
			<button type="button" class="btn btn-primary" id="saveBtnCrearConvenios1" onclick="CrearGuardarConvenios()">Grabar!</button> 
                        </div>

                        <div class="modal-body">
                            <div class="alert alert-danger error-msg" style="display:none">
                                <ul class="mb-0"></ul>
                            </div>
			
  			  <form id="postFormCrearConvenios" name="postFormCrearConvenios">

                                <input type="text" name="postConvenioC_id" id="postConvenioC_id" readonly>

                      <div class="row row-cols-lg-auto g-3 align-items-center mb-3">

				  <div class="col-12">
                                        <label for="serviciosAdministrativosC_id" class="col-sm-1 control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SeviciosAdmon:</label>
                                        <div class="col-sm-8">
                                            <select class="select-css h-40 w-20" id="serviciosAdministrativosC_id"  tabindex= "0"
                                                    name="serviciosAdministrativosC_id"
                                                    required>
                                                {% for serviciosAdministrativos in ServiciosAdministrativos %}
                                                <option value="{{serviciosAdministrativos.id}}"> {{serviciosAdministrativos.nombre}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                    </div>



				<div class="col-12">
                                    
				 <label  for="nombreConvenio">Nombre Convenio:</label>
                                    <input type="text" class="form-control form-control-sm" id="nombreConvenioC" name="nombreConvenioC" value="0" placeholder="nombreConvenio:" ></input>
                                </div>

				<div class="col-12">
				
 				<label  for="vigenciaDesdeC">VigenciaDesde:</label>
                               
					 <input type="date"  class="form-control form-control-sm" id="vigenciaDesdeC"  placeholder="vigenciaDesde" >
                                </div>
				<div class="col-12">

 				<label  for="vigenciaHastaC">VigenciaHasta:</label>
                               
					 <input type="date"  class="form-control form-control-sm" id="vigenciaHastaC" placeholder="vigenciaHasta" >
                                </div>


				<div class="col-12">
                                    Empresa:
				<select class="select-css"  id="empresaC_id"
                                                                name="empresaC_id">
                                                            {% for empresas in Empresas%}
                                                            <option value="{{empresas.id}}">
                                                                {{empresas.nombre}}
                                                            </option>
                                                            {% endfor %}
                                                        </select>
                                </div>




				<div class="col-12">
                                    Tarifario Procedimientos:
				<select class="select-css"  id="tarifariosDescripcionProcC_id"
                                                                name="tarifariosDescripcionProcC_id">
                                                            {% for tarifariosDescripcionProc in TarifariosDescripcionProc%}
                                                            <option value="{{tarifariosDescripcionProc.id}}">
                                                                {{tarifariosDescripcionProc.nombre}}
                                                            </option>
                                                            {% endfor %}
                                                        </select>
                                </div>

				<div class="col-12">
                                    Tarifario Suministros:
				<select class="select-css"  id="tarifariosDescripcionSumC_id"
                                                                name="tarifariosDescripcionSumC_id">
                                                            {% for tarifariosDescripcionSum in TarifariosDescripcionSum %}
                                                            <option value="{{tarifariosDescripcionSum.id}}">
                                                                {{tarifariosDescripcionSum.nombre}}
                                                            </option>
                                                            {% endfor %}
                                                        </select>
                                </div>

				<div class="col-12">
					    Tarifario Honorarios:
                	           	<select class="select-css"  id="tarifariosDescripcionHonoC_id"
                                                                name="tarifariosDescripcionHonoC_id">
                                                            {% for tarifariosDescripcionHono in TarifariosDescripcionHono %}
                                                            <option value="{{tarifariosDescripcionHono.id}}">
                                                                {{tarifariosDescripcionHono.nombre}}
                                                            </option>
                                                            {% endfor %}
                                                        </select>
                                </div>





               			<div class="col-12">
				 <label  for="porcTarifarioC">porcTarifario:</label>
                                    <input type="text" class="form-control form-control-sm" id="porcTarifarioC" name="porcTarifarioC" placeholder="porcTarifario:"></input>
                                </div>
				<div class="col-12">               
				 <label  for="porcSuministrosC">porcSuministros:</label>
                                    <input type="text" class="form-control form-control-sm" id="porcSuministrosC" name="porcSuministrosC" placeholder="porcSuministros:"></input>
                                </div>
				<div class="col-12">
				 <label  for="valorOxigenoC">valorOxigeno:</label>
                                    <input type="text" class="form-control form-control-sm" id="valorOxigenoC" name="valorOxigenoC" placeholder="valorOxigeno:"></input>
                                </div>
				<div class="col-12">
				 <label  for="porcEsterilizacionC">porcEsterilizacion:</label>
                                    <input type="text" class="form-control form-control-sm" id="porcEsterilizacionC" name="porcEsterilizacionC" placeholder="porcEsterilizacion:"></input>
                                </div>
				<div class="col-12">
				 <label  for="porcMaterialC">porcMaterial:</label>
                                    <input type="text" class="form-control form-control-sm" id="porcMaterialC" name="porcMaterialC" placeholder="porcMaterial:"></input>
                                </div>
				<div class="col-12">
				 <label  for="hospitalarioC">hospitalario:</label>
                                    <input type="text" class="form-control form-control-sm" id="hospitalarioC" name="hospitalarioC" placeholder="hospitalario:"></input>
                                </div>
				<div class="col-12">
				 <label  for="urgenciasC">urgencias:</label>
                                    <input type="text" class="form-control form-control-sm" id="urgenciasC" name="urgenciasC" placeholder="urgencias:"></input>
                                </div>
				<div class="col-12">
				 <label  for="ambulatorioC">ambulatorio:</label>
                                    <input type="text" class="form-control form-control-sm" id="ambulatorioC" name="ambulatorioC" placeholder="ambulatorio:"></input>
                                </div>

				<div class="col-12">
				 <label  for="consultaExternaC">consultaExterna:</label>
                                    <input type="text" class="form-control form-control-sm" id="consultaExternaC" name="consultaExternaC" placeholder="consultaExterna:"></input>
                                </div>

				<div class="col-12">
				 <label  for="copagoC">copago:</label>
                                    <input type="text" class="form-control form-control-sm" id="copagoC" name="copagoC" placeholder="copago:"></input>
                                </div>

				<div class="col-12">
				 <label  for="moderadoraC">moderadora:</label>
                                    <input type="text" class="form-control form-control-sm" id="moderadoraC" name="moderadoraC" placeholder="moderadora:"></input>
                                </div>

				<div class="col-12">
				 <label  for="tipofacturaC">tipofactura:</label>
                                    <input type="text" class="form-control form-control-sm" id="tipofacturaC" name="tipofacturaC" placeholder="tipofactura:"></input>
                                </div>

				<div class="col-12">
				 <label  for="agrupadaC">tipofactura:</label>
                                    <input type="text" class="form-control form-control-sm" id="agrupadaC" name="agrupadaC" placeholder="agrupada:"></input>
                                </div>


				<div class="col-12">
				 <label  for="facturacionSuministrosC">facturacionSuministros:</label>
                                    <input type="text" class="form-control form-control-sm" id="facturacionSuministrosC" name="facturacionSuministrosC" placeholder="facturacionSuministros:"></input>
                                </div>

				<div class="col-12">
				 <label  for="facturacionCupsC">facturacionCups:</label>
                                    <input type="text" class="form-control form-control-sm" id="facturacionCupsC" name="facturacionCupsC" placeholder="facturacionCups:"></input>
                                </div>

				<div class="col-12">
				 <label  for="cuentaContableC">cuentaContable:</label>
                                    <input type="text" class="form-control form-control-sm" id="cuentaContableC" name="cuentaContableC" placeholder="cuentaContable:"></input>
                                </div>


				<div class="col-12">
				 <label  for="requisitosC">requisitos:</label>
                                    <input type="text" class="form-control form-control-sm" id="requisitosC" name="requisitosC" placeholder="requisitos:"></input>
                                </div>


				<div class="col-12">
				 <label  for="fechaRegistroC">fechaRegistro:</label>
                                    <input type="text" class="form-control form-control-sm" id="fechaRegistroC" name="fechaRegistroC" placeholder="fechaRegistro:"></input>
                                </div>


				<div class="col-12">
				 <label  for="estadoRegC">estadoReg:</label>
                                    <input type="text" class="form-control form-control-sm" id="estadoRegC" name="estadoRegC" placeholder="estadoReg:"></input>
                                </div>

	
				<div class="col-12">
				 <label  for="usuarioRegistroC_id">usuarioRegistro_id:</label>
                                    <input type="text" class="form-control form-control-sm" id="usuarioRegistroC_id" name="usuarioRegistroC_id" placeholder="usuarioRegistro_id:"></input>
                                </div>


				<div class="col-12">
				 <label  for="descripcionC">descripcion:</label>
                                    <input type="text" class="form-control form-control-sm" id="descripcionC" name="descripcionC" placeholder="descripcion:" ></input>
                                </div>

                                <div class="col-12">
                                    <center> 
					<button type="button" class="btn btn-primary" id="saveBtnCrearConvenios"   value="create" onclick="CrearGuardarConvenios()">Guardar </button> 
					</center> 
                                </div>


                                </div> <!-- CIERRA ROW 8 COLUMNAS  -->

                            </form>

                        </div> <!-- CIERRA BODY -->

		    <div class="modal-footer">

	<textarea id="mensajesErrorModalConvenios" name="mensajesErrorModalConvenios" style="background-color: lightred; color: navy;"  rows="1" cols="60" placeholder="Mensajes..."  wrap="hard"></textarea>																						
			  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar   </button>
		<button type="button" class="btn btn-primary" id="saveBtnCrearConvenios1" onclick="CrearGuardarConvenios()">Grabar!</button>                 


                               </div>


                        </div> <!-- CIERRA MODAL CONTENTE -->
                    </div> <!-- CIERRA MODAL DIALOG -->
                </div>  <!-- CIERRA MODAL FADE -->



		<!-- Modal Crear Convenio -->





	<!-- FIN Espacio para Modales  -->


</article>


<article id="TarifariosDescripcionProcedimientos">

            <form  method="get" id="FormTarifariosDescripcionProcedimientos">

                <input type="hidden" id="username" name="username" value="{{Username}}">
                <input type="hidden" id="sedeSeleccionada" name="sedeSeleccionada" value="{{SedeSeleccionada}}">
                <input type="hidden" id="numreporte" name="numreporte" value="{{numreporte}}">
                <input type="hidden" id="grupo" name="grupo" value="{{Grupo}}">
                <input type="hidden" id="subGrupo" name="subGrupo" value="{{SubGrupo}}">
                <!--  Estos si de la Aplixcacion base -->
                <input type="hidden" id="sede" name="sede" value="{{Sede}}">
                <input type="hidden" id="documento" name="documento" value="{{Documento}}">
                <input type="hidden" id="nombreSede" name="nombreSede" value="{{NombreSede}}">
                <input type="hidden" id="profesional" name="profesional" value="{{Profesional}}">
                <input type="hidden" id="permisosGrales" name="permisosGrales" value="{{PermisosGrales}}">
                <input type="hidden" id="permisosDetalle" name="permisosDetalle" value="{{PermisosDetalle}}">
                <input type="hidden" id="escogeModulo" name="escogeModulo" value="{{EscogeModulo}}">
                <input type="hidden" id="username_id" name="username_id" value="{{Username_id}}">

                <input type="hidden" id="tipoDocId" name="tipoDocId" value="">
                <input type="hidden" id="nombreTipoDoc" name="nombreTipoDoc" value="">
                <input type="hidden" id="documentoId" name="documentoId" value="">
                <input type="hidden" id="documento2" name="documento2" value="">
                <input type="hidden" id="consec" name="consec" value="">
                <input type="hidden" id="tipoIng" name="tipoIng" value="{{tipoIng}}">
		<input type="hidden" id="convenioId" name="convenioId" value="{{convenioId}}">
	
            </form>

        <!-- INICIO TABLE DE  EL DATATABLE  -->

 		<div class="container my-2">

		  		
                                        <table  id= "tablaTarifariosDescripcionProcedimientos" class=" display table table-striped  table-sm fs-6 nowrap" style="width: 100%";>
                                           <thead>
                                            <tr style="height:2px;" >    
						<bold>                                  
                                                <th>id</th>
                                                <th>Tipo</th>
						<th>Tipo Tarifa</th>
                                                <th>Columna</th>                                       
                                                 <th>Descripcion</th>                                 
	                                        <th>Seleccionar</th> 

						</bold>                                  

                                            </tr>
                                            </thead>
                                            <tbody style="vertical-align:bottom; horizontal-align:left">
                                            </tbody>
					
				   </table>
 	

                                        <table  id= "tablaTarifariosProcedimientos" class=" display table table-striped  table-sm fs-6 nowrap" style="width: 100%";>
                                           <thead>
                                            <tr >    
						<bold>                                  
 
 						  <th>id</th>
				                <th>tipoTarifa</th>
				                <th>cups</th>
				                <th>codigoHomologado</th>
				                <th>exaNombre</th>
				                <th>Valor</th>
				           

						</bold>                                  

                                            </tr>
                                            </thead>
                                            <tbody style="vertical-align:bottom; horizontal-align:left">
                                            </tbody>
					
   </table>

	





	</div> <!--  Cierra el Div -->


</article>
<article id="TarifariosDescripcionSum">
	
      

        <!-- INICIO TABLE DE  EL DATATABLE  -->

 		<div class="container my-2">

   		
                                        <table  id= "tablaTarifariosDescripcionSuministros" class=" display table table-striped  table-sm fs-6 nowrap" style="width: 100%";>
                                           <thead>
                                            <tr style="height:2px;" >    
						<bold>                                  
                                                <th>id</th>
                                                <th>Tipo</th>
						<th>Tipo Tarifa</th>
                                                <th>Columna</th>                                       
                                                 <th>Descripcion</th>                                 
	                                        <th>Seleccionar</th> 

						</bold>                                  

                                            </tr>
                                            </thead>
                                            <tbody style="vertical-align:bottom; horizontal-align:left">
                                            </tbody>
					
				   </table>
 	

                                        <table  id= "tablaTarifariosSuministros" class=" display table table-striped  table-sm fs-6 nowrap" style="width: 100%";>
                                           <thead>
                                            <tr >    
						<bold>                                  
 
 						  <th>id</th>
				                <th>tipoTarifa</th>
				                <th>cums</th>
				                <th>codigoHomologado</th>
				                <th>exaNombre</th>
				                <th>colValorBase</th>
				                <th>colValor1</th>
				                <th>colValor2</th>
				                <th>colValor3</th>
				                <th>colValor4</th>
				                <th>colValor5</th>
				                <th>colValor6</th>
				                <th>colValor7</th>
				                <th>colValor8</th>
				                <th>colValor9</th>
				                <th>colValor10</th>
	                                        <th>Seleccionar</th> 

						</bold>                                  

                                            </tr>
                                            </thead>
                                            <tbody style="vertical-align:bottom; horizontal-align:left">
                                            </tbody>
					
   </table>

	</div> <!--  Cierra el Div -->


</article>



  
    </div>
</div>

{% endblock %}

{% block mensajeria %}
<div class="marco">
	<textarea id="mensajes" name="mensajes" style="background-color: lightblue; color: navy;"  rows="1" cols="180" placeholder="Mensajes..."  wrap="hard"></textarea>
	<textarea id="mensajesError" name="mensajesError" style="background-color: lightred; color: navy;"  rows="1" cols="180" placeholder="Mensajes..."  wrap="hard"></textarea>

</div>
{% endblock %}


{% block footer %}

{% endblock %}



